<div class="stacked-page">

    <div class="allImages">
      <h3 class="welcomeHeader">Flickr Images Display</h3>
      <div ng-repeat="indx in flickArray" class="imageContainer">
            <img class="imageItSelf" src="https://farm{{indx.farm}}.staticflickr.com/{{indx.server}}/{{indx.id}}_{{indx.secret}}.jpg" alt="IBM flickr image" title="IBM {{indx.id}}"/>
            <ul class="imagesDescriptions">
              <li><span class="span1">Title : {{indx.title}}</span></li>
              <li><span class="span2">Owner : {{indx.owner}}</span></li>
              <li><span class="span3">Identity : {{indx.id}}</span></li>
            </ul>
      </div>
    </div>

</div>



